.adsTop {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 5px;
    transition: background-color 0.3s ease; /* Agrega una transición suave */
    border-radius: 3px;
    overflow: hidden;
    border-bottom: 1px solid #6b5253;
  }

  .adsTop-sticky{
   
    top: 0;
    transition: top 0.3s ease; /* Añade una transición suave a la propiedad 'top' */
    padding: 8px; /* Añade espacio alrededor del elemento para mayor visibilidad */
    z-index: 100; /* Ajusta el valor según tus necesidades */
  }
  

  .social-media a {
    color: #5e4c42;
    text-decoration: none;
    font-size: 15px;
    margin-right: 20px; /* Ajusta el espaciado entre iconos */
    transition: color 0.3s ease; /* Agrega una transición suave para el color */
  }
  
  .social-media a:hover {
    color: #ad8a76; /* Cambia el color al hacer hover */
  }
  
  .physical-locations {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #777;
    
  }
  
  .physical-locations ul {
    display: flex;
    gap: 30px;
    padding-right: 30px;
    font-size: 12px;
    list-style: none; /* Quita las viñetas de la lista */
  }
  
  .physical-locations li {
    margin-right: 10px; /* Ajusta el espaciado entre elementos de la lista */
  }


