.navbar {
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Agrega posición relativa */
  transition: background-color 0.3s ease; /* Transición de color de fondo */
  background-color: rgba(255, 255, 255, 0);
  margin-top: -30px;
}

/* Estilos para el icono del menú */
.menu-icon {
  cursor: pointer;
  font-size: 2.6vh;
  color: #5d4243;
  z-index: 1001;
  margin-left: 50px;
}

/* Estilos para el logo */
.logo {
  display: flex;
  justify-content: center; 
  align-items: center; 
margin-top: 30px; 
}

.logo img {
 height: auto;
width: 400px;
transform: translatex(-40px);
}

/* Estilos para el ícono del menú (hamburguesa) */
.menu-toggle {
 
  cursor: pointer;
  color: #6b5253;
  font-size: 25px;
  position: fixed;
  top: 20px;

  z-index: 1000; /* Asegura que el ícono esté por encima del menú */
}

/* Estilos para la lista de enlaces de navegación */
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: -100%; /* Inicialmente oculta el menú a la izquierda */
  width: 0px;
  height: 100%;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  text-align: start;
  z-index: 1000;
  list-style: none;
  text-decoration: none;
}

/* Estilos para mostrar la lista de enlaces cuando se abre el menú */
.nav-links.show {
  display: block;
  background-color: #ffffff;
  width: 220px;
  height: 100%; /* Resta el espacio del ícono de cierre */
  position: fixed;
  left: 0;
  padding-top: 0px; /* Elimina el espacio superior */
  padding-left: 20px;
  text-align: start;
  list-style: none;
  text-decoration: none;
  z-index: 1000;
  font-family: "Century Gothic";
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}


.close-menu-icon{
  cursor: pointer;
  font-size: 2.6vh;
  color: #8c7057;
  margin-left: 180px;
  margin-top: 10px;
  z-index: 1001;
}

.show .menu-icon{
  opacity: 0;
}


.nav-links.show li {
  margin: 10px 10px 0 5px;
  padding: 10px 0;
  list-style: none;
  font-weight: 300;
  text-decoration: none;
  font-size: 2vh;
  max-height: 100%;
}
.nav-links.show ul{
  font-size: 2vh;
padding: 10px 10px;
list-style: none;
  text-decoration: none;
  -webkit-text-stroke: 2px solid black;

}

.li{
  border-bottom: 1px solid #8c705797;

}

.nav-links.show a {
  font-size: 1.6vh;
  text-decoration: none;
  color: #8c7057;
  font-size: auto;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
  
}

/* Estilos para el menú desplegable */
.sub-menu {
  font-size: 2vh;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: calc(100vh - 20px); /* Resta el espacio superior e inferior */
  overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
}

.sub-menu li {
  font-size: 2vh;
  margin: 5px 0;
  list-style: none;
  text-decoration: none;
  font-size: auto;
  max-height: 100%;
}

.sub-menu a {
  font-size: auto;
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .logo img {
    height: auto;
   width: 300px;
   transform: translatex(0px);
   }

   .menu-icon {
    margin-left: 5px;
  }

  .cart-icon{
    transform: translatex(-5px);
    font-size: 1.4vh;
  }

  .iconsCart{
       font-size: 20px;
       padding: 7px 7px;
       border-radius: 11px;
      
    }
}