.titulo-container{
 color: #ad8a76;

}

.titulo-container h1{
  font-size: 30px;
  line-height: 60px; 
  letter-spacing: 3px;
  margin-bottom: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #ad8a76;
  border-top: 1px solid #ad8a76;
}

/* Estilos para el carrusel de imágenes */
.image-carousel{
  max-width: 100%;
  position: relative;
  
}

.contenedorMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: -180px;
  
 
}

.inicio-images {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.contenedorPadre{
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-carousel{
  max-width: 400px;
 min-width: 400px;
 height: 711px;
 
}

.h2Contenedor{
  display: flex;
align-items: center;
  transform: translatey(-1000px);
width: 100%;
height: 200px;
color: #ad8a76;
justify-content: center;
}

.h2{
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  
}


.containerAbuelo{
  margin-bottom: -150px;
  max-width: 100%;

}


/* Estilos para las imágenes */
.carousel-item{
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
  text-align: center;
  background-color:  #b58f83;
}

.carousel-item img{
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
  border-radius: 2px;
  z-index: 999;
  max-width: 100%;
  height: auto;
  
}


/* Estilos para las imágenes al hacer hover */
.carousel-item:hover img {
  transform: scale(1.05);
  box-shadow: 0 8px 16px #6b5253;
  opacity: 0.8;
 
}

/* Estilos para el título de la imagen al hacer hover */
.carousel-item:hover {
  opacity: 1;
  background-color:  #b58f83;
  font-size: 18px;
  border-radius: 5px;
  transform: translateY(-5px); /* Desplaza el título hacia arriba en el hover */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.btnTitle{
  width: 100%;
  gap: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.image-title {
  width: 100%;
  height: 130px;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  position: absolute;
  top: 210px; /* Ajusta la posición vertical según tus necesidades */
   /* Ajusta la posición horizontal según tus necesidades *//* Cambia el color del texto si es necesario */ /* Fondo semitransparente para hacer que el texto sea legible */
  padding: 5px 10px 5px 10px; /* Ajusta el espacio interior según tus necesidades */
  font-size: 60px;
  line-height: 60px; 
  letter-spacing: 3px;
  margin-bottom: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  color:  white;
   font-weight: 500;
  -webkit-text-stroke: 0.9px rgb(251, 251, 251); 
}

.image-title:hover{
  -webkit-text-stroke: 0.9px black;
  color: black;
  transition: opacity 5s ease-in-out, transform 0.8s ease-in-out;
  
}

.image-button {
  position: absolute;
  bottom: 250px; /* Ajusta la posición vertical según tus necesidades */
  left: 165px; /* Ajusta la posición horizontal según tus necesidades */
  background-color: transparent;
  color: rgb(0, 0, 0); /* Cambia el color del texto del botón según tus necesidades */
  padding: 5px 10px; /* Ajusta el espacio interior según tus necesidades */
  cursor: pointer;
  z-index: 2000;
 
}

.image-button:hover{
  background-color: rgb(23, 23, 23);
  color: white;
}


/* Estilos adicionales para las imágenes en el escritorio */
@media screen and (max-width: 1024px) {


  .contenedorPadre{
    width: auto;
    display: flex;
    justify-content: center;
  }

  .image-carousel {
    max-width: calc(33.33% - 20px); /* Ajusta el ancho de las imágenes */
  }

  .contenedorMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
  }

  .image-carousel{
    max-width: 300px;
   min-width: 300px;
   height: 611px;

  }

  .image-button {
    position: absolute;
    bottom: 180px; 
    left: 100px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 5px 10px; 
    cursor: pointer;
    z-index: 2000;
    justify-content: center;
  }
  
  
.image-title {
  width: 100%;
  height: auto;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  position: absolute;
  top: 210px; 
  padding: 5px 10px 5px 10px;
  font-size: 3vh;
  line-height: auto; 
  letter-spacing: 3px;
  margin-bottom: 0.5rem;
  font-weight: 500;

}

.h2Contenedor{
  transform: translatey(-900px);
}

.h2{
  font-size: 5vh;

}

}

@media screen and (max-width: 780px) {

.contenedorMain {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0px;
}

}