.contenedorPadre {
  max-width: 400px;
  margin: 10px auto;
  margin-top: 150px;
  padding: 20px;
  text-align: center;
  background-color: #f7f7f700;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.padreForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hijo1,
.hijo2 {
  margin-bottom: 15px;
}

.labelForm {
  font-size: 16px;
  color: #555;
}

.inputForm {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.btnForm {
  background-color: #3d6fa5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnForm:hover {
  background-color: #0056b3;
}

.contenedorPadreLogin{
  min-height: 60vh;
}