
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

.app {
  text-align: center;
  border-radius: 5px;
  margin: 10px 50px 0px 50px;
  font-family: "Century Gothic";
  list-style: none;
  text-decoration: none;
 
}

.whatsapp-float {
  position: fixed;
  bottom: 20px; /* Cambia esta propiedad para ajustar la distancia desde la parte inferior */
  left: 20px; /* Cambia esta propiedad para ajustar la distancia desde la derecha */
  background-color: #25d366; /* Color de fondo del icono de WhatsApp */
  border-radius: 50%; /* Para hacer que el icono sea circular */
  width: 60px; /* Ancho del icono */
  height: 60px; /* Altura del icono */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Tamaño del icono */
  color: #ffffff; /* Color del icono (blanco) */
  text-decoration: none; /* Elimina cualquier subrayado de enlace */
  cursor: pointer;
  z-index: 1000; /* Asegura que el icono esté por encima de otros elementos */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.32); /* Pequeña sombra */
}

.iconWsp{
  color: white;
  transform: translatey(2px);
}

@media screen and (max-width: 1024px) {
  .app {
  margin: 5px;
  }
}
body{
  margin: 0;
  padding: 0;
  font-family: "Century Gothic";
  list-style: none;
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  list-style: none;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
  list-style: none;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
